[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-smtp-ssl = "*"
django = "*"
psycopg2 = "*"
pillow = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
